/*Estilos de RESET */

* {
  margin: 0px;
  padding: 0px;
}

/* Globals */

body {
  background-color: #1d6daf;
}

.header-fixed {
    position: fixed;
    top: 0px;
  left: 0;
  right: 0;
  background-color: #1d6daf; /* Color de fondo del encabezado */
  height: 150px; /* Altura del encabezado */
  transition: height 0.3s ease;
}

.header-fixed.header-small {
    height: 40px; /* Altura más pequeña para el encabezado */
  }

.main-down {
    margin-top: 150px;
    
}

/* Main title */
h1 {
  text-align: center;
  font-family: "Helvetica";
  font-size: 70px;
  color: beige;

}

/* Teresa Madridejos */
.bigger {
  text-align: center;
  font-family: "Cedarville Cursive";
  font-size: 40px;
  color: rgb(248, 175, 66);
}

/* General titles */
h2 {
  text-align: center;
  font-family: "Cedarville Cursive";
  font-size: 30px;
  color: beige;
  text-decoration: underline wavy rgb(248, 175, 66);
}

p {
  text-align: center;
  font-family: "Helvetica";
  font-size: 15px;
}

.personaldescription {
  padding-left: 20%;
  padding-right: 20%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 50px;
  font-family: "Helvetica";
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: beige;
  width: 150px;
  height: 100px;
  padding: 10px;
  margin: 0 0 1em 0;
  border-radius: 50px;
}
